@use '../../styles/variables' as *;

.header-container {
    position: relative;
    background-image: url('/images/ski1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}