@use "../../../styles/variables.scss" as *;

.product-list-container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-16px;

  h3 {
    flex: 1;
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: $spacing-24px;
  column-gap: $spacing-24px;
}

.see-all-btn {
  text-align: center;
}
