@use "../../../styles/variables.scss" as *;

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  // padding-top: 128px;
  // padding-bottom: 128px;
}

.heading {
  display: flex;
  align-items: flex-end;

  h2 {
    flex: 1;
    font-size: 64px;
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 24px;
  column-gap: 24px;
}

.see-all-btn {
  text-align: center;
}
