@use '../../styles/variables' as *;

.hero-section-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hero-section-text {
    padding: $padding-56px; 
    max-width: 40%;
    color: $font-primary-black;

    h1 {
        font-size: 72px;// 80px
        line-height: calc(72px*1.1);
        padding-bottom: 5.5rem;
    }

    p {
        font-weight: $font-weight-bold;
        white-space: pre-wrap;
    }
}