@use "../../../styles/variables.scss" as *;

.header-container {
  width: 100%;
  position: relative;
  min-height: 700px;
  max-height: 700px;
  background-image: url("/images/img2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
