@use "../../styles/variables.scss" as *;

.button {
  height: 3rem; //48px
  padding: 0 4.25rem 0 4.25rem; // 68px
  border: 0.063rem solid $font-primary-black; // 1px
  color: white;
  background-color: $font-primary-black;
  cursor: pointer;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-weight: 800;
}

.button:hover {
  background-color: $accent-color;
}
