@use "../../../styles/variables.scss" as *;

.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  background-image: url("/images/img1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 19rem $spacing-56px;
  max-width: 50%;
  color: $font-primary;
  z-index: 3;

  p {
    white-space: pre-wrap;
    font-size: 24px;
  }
}
