@use "../../styles/variables.scss" as *;

.card-container {
  padding: $spacing-16px;
  min-width: var(--min-width);
  min-height: var(--min-height);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 5px;
}

.card-container h2 {
  color: var(--color);
  z-index: 3;
}
