@use "../../../styles/variables.scss" as *;

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem $spacing-56px 0.5rem $spacing-56px;
  position: relative;
  z-index: 4;
}

.nav-container ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.main-nav {
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-24px;
}

.secondary-nav {
  gap: $spacing-24px;
}

.secondary-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-nav span {
  font-weight: $font-weight-bold;
}

.secondary-nav img {
  color: $font-primary-reverse;
}
