@use "../../../styles/variables.scss" as *;

.layoutblock-container {
  margin-top: $spacing-114px;
}

.men-women-collection {
  display: flex;
  gap: $spacing-8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.1); /* Couleur noire avec 50% d'opacité */
    z-index: 1;
  }
}
