@use "../../../styles/variables.scss" as *;

.layoutblock-container {
  margin-top: $spacing-100px;
}

.men-women-collection {
  display: flex;
  gap: $spacing-8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
