/* SPECIAL CUSTOM FONTS */

@font-face {
    font-family: 'CustomFontGroove';
    src: url('/fonts/groove.woff2') format('woff2'),
         url('/fonts/groove.woff') format('woff'),
         url('/fonts/groove.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'CustomFontGranite';
     src: url('/fonts/granite.woff2') format('woff2'),
          url('/fonts/granite.woff') format('woff'),
          url('/fonts/granite.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
  