@use "./variables" as *;
@use "./fonts" as *;

:root {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: $font-weight-black;
  font-size: 56px;
  font-family: $font-family-extrabold;
  font-weight: $font-weight-black;
  line-height: calc(56px * 1.1);
  text-transform: uppercase;
}

h2 {
  font-weight: $font-weight-black;
  font-size: 32px;
  font-family: $font-family-extrabold;
  font-weight: $font-weight-black;
  line-height: calc(32px * 1.1);
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: $font-weight-black;
  font-family: $font-family-extrabold;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $font-family;
}

p {
  line-height: 1.5rem;
  font-weight: $font-weight-regular;
}
