@use './variables' as *;
@use './fonts' as *;

:root {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $headline-h1;
  font-weight: $font-weight-black;
  line-height: calc($headline-h1*1.5);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $font-family;
}

p {
  line-height: 1.5rem;
  font-weight: $font-weight-regular;
}