/* Color */
$main-color: rgb(255,255,255);
$font-primary: rgb(36, 36, 36);
$accent-color: #0070f3;

/* Spacing variables */
$padding: 1.5rem;

/* Font-variable */
$headline-h1: 6rem;

/* Font-familiy */
$font-family: 'Roboto', Arial, Helvetica, sans-serif;

/* Font-weight */
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-italic-thin: 100;
$font-weight-italic-light: 300;
$font-weight-italic-regular: 400;
$font-weight-italic-medium: 500;
$font-weight-italic-bold: 700;
$font-weight-italic-black: 900;