@use "../../../styles/variables.scss" as *;

.list-container {
  height: 100%;
}

.heading {
  margin-bottom: $spacing-16px;
}

.categories {
  display: flex;

  > :first-child {
    background-color: gray;
    width: 100%;
  }

  > :nth-child(2) {
    background-color: green;
    width: 100%;
  }

  > :last-child {
    background-color: blue;
    width: 100%;
  }
}
