@use "../../../styles/variables.scss" as *;

.categories-list {
  // background-color: skyblue;
}

.heading {
  // background-color: green;
  margin-bottom: $spacing-16px;
}

.categories {
  display: flex;
  background-color: blue;

  > :first-child {
    background-color: red;
    width: 100%;
  }

  > :nth-child(2) {
    background-color: green;
    width: 100%;
  }

  > :last-child {
    background-color: skyblue;
    width: 100%;
  }
}
